@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #191D24;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 30px 0 42px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
  border: 1px solid #D0D5DD;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
          box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  color: #000;
  font-size: 16px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #9CA3AF;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #9CA3AF;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #9CA3AF;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #9CA3AF;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #9CA3AF;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  position: relative;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: 500;
  height: 46px;
  border-radius: 40px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  border-radius: 4px;
}

.btn-accent {
  background: #ED5A9B;
  color: #fff;
}
.btn-accent:hover {
  background: #191D24;
  color: #fff;
}

.btn-border {
  border: 1px solid #191D24;
}
.btn-border:hover {
  background: #191D24;
  color: #fff;
}

.btn-border-grey {
  color: #B1B1B1;
  border: 1px solid #8E8E8E;
}
.btn-border-grey:hover {
  background: #191D24;
  color: #fff;
}

.btn-group {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.btn-group .btn {
  margin: 0 6px 0 0;
}
.btn-group .btn:last-child {
  margin: 0;
}

.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 4px;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.container {
  max-width: 1240px;
  padding: 0 12px;
}

.row {
  margin: 0 -12px;
}
.row > * {
  padding: 0 12px;
}

h1,
.h1 {
  width: 100%;
  font-size: 48px;
  font-weight: 600;
}

h2,
.h2 {
  font-size: 28px;
  font-weight: 600;
  width: 100%;
  margin: 0 auto 16px;
}

.text-title {
  text-align: center;
  color: #6b7280;
  font-size: 18px;
  line-height: 150%;
}

.mb-32 {
  margin-bottom: 32px;
}

.p-96 {
  padding: 96px 0;
}

.d-inline {
  display: inline;
}

.color-blue {
  color: #1E40AF;
}

.text-decoration {
  text-decoration-line: underline;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 8px 0 0;
  color: #6b7280;
  font-size: 14px;
  cursor: pointer;
}
.checkbox input {
  display: none;
}
input:checked + .checkbox-custom {
  background: rgba(237, 90, 155, 0.1) url("../img/checkbox.svg") no-repeat center;
  background-size: 14px;
}
.checkbox-custom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin: 0 8px 0 0;
  background: rgba(237, 90, 155, 0.1);
  border: 1px solid #ED5A9B;
  border-radius: 6px;
}

.tooltip-wrapper {
  position: absolute;
  right: 14px;
  top: 40px;
}
.tooltip-wrapper:hover .tooltip-box {
  display: block;
}

.btn-tooltip {
  fill: none;
  stroke: #2563eb;
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.tooltip-box {
  position: absolute;
  left: 50%;
  bottom: 100%;
  -webkit-filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: #fff;
  border-radius: 8px;
  min-width: 576px;
  max-width: 576px;
  padding: 8px;
  z-index: 4;
  margin: 0 0 20px;
  font-size: 14px;
  display: none;
}
.tooltip-box:before {
  content: "";
  width: 28px;
  height: 28px;
  background: #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  transform: translate(-50%, 0) rotate(45deg);
  bottom: -13px;
  left: 50%;
  position: absolute;
  z-index: -1;
}

.select-my {
  padding: 0 30px 0 16px;
  background: #fff url("../img/arrow-select.svg") no-repeat calc(100% - 14px) center;
  background-size: 16px;
  cursor: pointer;
  color: #9CA3AF;
}
.select-my:focus {
  color: #374151;
}